.centered{
    text-align: center;
}

.pad-top{
    padding-top: 70px;
}

.pad-bottom{
    padding-bottom: 70px;
}

.btn-light{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.btn-light:hover{
    color: #232322;
    background: #FFFFFF;
}

.btn-name {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-default{
    width: 120px;
    height: 120px;
}

.navbar-header a{
    font-size: 21px;
}

.enter-header {
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/header-background.jpg) no-repeat center center;
    background-size: cover;
}

.enter-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.enter-message > h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
    font-weight: 900;
}

.about h1{
    font-weight: 900;
    font-size: 45px;
}

.about h2{
    font-weight: 300;
    font-size: 30px;
    color: #b9b9b9;
    line-height: 1.1;
}

.features-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.features-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.features-heading {
    font-weight: 900;    
    margin-bottom: 30px;
}

.banner {
    padding: 100px 0;
    color: #FFFFFF;
    background: url(../images/footer-banner.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
    font-size: 3em;
    font-weight: 900;  
}

.banner ul {
    margin-bottom: 0;
    padding-top: 10px;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}